
<!DOCTYPE html>
<html>
<head>
    <title>Monitorando a Média Movel</title>
    <style>
        body {
            background-color:#1a1717; /* Define o fundo escuro */
            color: #fff; /* Define a cor do texto como branco */
            text-align: center; /* Centraliza o conteúdo na página */
        }
        .profile-image {
            max-width: 52%; /* Define o tamanho máximo da imagem (ajuste conforme necessário) */
            display: block;
            margin: 0 auto; /* Centraliza a imagem horizontalmente */
        }
    </style>
</head>
<body>
    <h1>Monitorando a Média Movel do Local</h1>
    <p>Informações </p>
    <!-- Inclua a imagem do gráfico aqui, com o tamanho definido -->
    <img class="profile-image" src="IMG_graficos/media_movel.png" alt="Gráfico Gerado">
</body>
</html>
